@import "~bootstrap/scss/bootstrap-grid";

* {
    box-sizing: border-box;
}

body {
    background-color: #607d8b;
    font-family: 'Montserrat', sans-serif;
}

.bg-full {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.jumbotron {
    background-color: #cfd8dc;
}

.title,
.subtitle {
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: -5.5px;
}

.subtitle {
    font-size: 27px;
    font-weight: lighter;
    letter-spacing: -0.5px;
}

.logo {
    width: 250px;
    margin: 10% auto 7%;
    display: block;
}

.footer {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 2%;
    left: 2%;
    opacity: 0.6;
}

.email {
    background: linear-gradient(140deg, #12f6de, #2b7ffe);
    position: absolute;
    padding: 14px 12px;
    height: 50px;
    width: 50px;
    bottom: 4%;
    border-radius: 50px;
    right: 3%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 110%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 110%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}
