.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    background: url(../img/bg-mobile.png) no-repeat center center fixed;
}

.video-foreground,
.video-background iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    @include breakpoint(mobileonly) {
        position: absolute;
        top: 0;
        left: -5%;
        width: 110%;
        height: 110%;
        pointer-events: none;
        transform: translate(0%, 0%);
    }
}

.video-foreground {
    @include breakpoint(mobileonly) {
        display: none;
    }
    @include breakpoint(phablet) {
        display: none;
    }
    @include breakpoint(tablet) {
        display: none;
    }
    @include breakpoint(laptop) {
        display: block;
    }
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 110%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
    }
}